<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.abyss.flow_density_detection.mapper.DataMapper">
  <resultMap id="BaseResultMap" type="website.abyss.flow_density_detection.entities.Data">
    <constructor>
      <arg column="camera_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="latitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="longitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insertData" parameterType="website.abyss.flow_density_detection.entities.Data">
    insert into `data`(camera_id,latitude,longitude,num) values (#{cameraId},#{latitude},#{longitude},#{num})
  </insert>
  <update id="updateData" parameterType="website.abyss.flow_density_detection.entities.Data">
    update `data` set num = #{num} where latitude = #{latitude} and longitude = #{longitude}
  </update>
  <select id="getData" parameterType="website.abyss.flow_density_detection.entities.Data" resultType="website.abyss.flow_density_detection.entities.Data">
    select * from `data` where latitude = #{latitude} and longitude = #{longitude}
  </select>
  <select id="getDataList" resultType="website.abyss.flow_density_detection.entities.Data">
    select * from `data`
  </select>
</mapper>